version: '3'
services:
  api:
    build: .
    command: >
      sh -c "python manage.py runserver 0.0.0.0:8000"
    entrypoint: /entrypoint.sh
    volumes:
      - .:/env
    ports: 
      - "8000:8000"
